@{
    ViewBag.Title = "About";
    Layout = "~/Views/_Layout.cshtml";
}

<h1>About Me</h1>

My name is Sami Beaston.
I am currently a Computer Science student at the University of Chattanooga at Tennessee.
I have been designing websites since technically the age of 11, but just recently began web design professionally.
I am currently an intern at Tennessee Valley Authority where I do support and development.
BeastOnWeb is a project I started because a few people were asking for simple websites developed and I offered my help.

<br /><br />
<div class="col-xs-6">
    <ul class="list-group">
        <li class="list-group-item"><h4 class="list-group-item-heading">Languages</h4></li>
        <li class="list-group-item">Java</li>
        <li class="list-group-item">C++</li>
        <li class="list-group-item">C#</li>
        <li class="list-group-item">Javascript</li>
        <li class="list-group-item">Python</li>
        <li class="list-group-item">SQL</li>
    </ul>
</div>
<div class="col-xs-6">
    <ul class="list-group">
        <li class="list-group-item"><h4 class="list-group-item-heading">Software</h4></li>
        <li class="list-group-item">Microsoft Office</li>
        <li class="list-group-item">Visual Studio</li>
        <li class="list-group-item">SQL Server Management</li>
        <li class="list-group-item">Toad for Oracle</li>
        <li class="list-group-item">Wordpress</li>
        <li class="list-group-item">Webstorm</li>
    </ul>
</div>
<div class="col-xs-3">
</div>
<div class="col-xs-6">
    <ul class="list-group">
        <li class="list-group-item"><h4 class="list-group-item-heading">Awards/Certifications</h4></li>
        <li class="list-group-item">Scaled Agile Academent, August 2014 - September 2015</li>
        <li class="list-group-item">Girls State Delegate 2010</li>
        <li class="list-group-item">Dean's List: Fall 11, Spring 12, Spring 13, Fall 13, Spring 14, Fall 14</li>
        <li class="list-group-item">General Engineering Scholarship 2013-2015</li>
        <li class="list-group-item">Dorothy Dean Mathematics Scholarship 2011-2012</li>
        <li class="list-group-item">Music Performance Grant 2011-2015</li>

    </ul>
</div>

<div class="col-xs-3">
</div>
