@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/_Layout.cshtml";
}

<h1>Contact</h1>

<h2>Phone:</h2>
423.430.9645
<br />
<h2>Email:</h2>
<a href="mailto:support@beastonweb.com">support@beastonweb.com</a>

