@{
    ViewBag.Title = "Index";
    Layout = "~/Views/_Layout.cshtml";
}

<div class="alert alert-dismissable alert-success">
    <button type="button" class="close" data-dismiss="alert">×</button>
    <p class="lead">This site is currently under construction. However, still feel free to look around!</p>
</div>

<h1>Hello, World!</h1>
<p class="lead">I am a website designer for almost any website needs. My websites are mobile-friendly, responsive, simple, and elegant.</p>





