@{
    ViewBag.Title = "Index";
    Layout = "~/Views/_Layout.cshtml";
}

@*<div class="alert alert-dismissable alert-success">
        <button type="button" class="close" data-dismiss="alert">×</button>
        <p class="lead">This site is currently under construction. However, still feel free to look around!</p>
    </div>*@

<h1>Hello, World!</h1>
<p class="lead">I am a website designer for any website needs. My websites are mobile-friendly, responsive, simple, and elegant.</p>
<div style="text-align:center">
    <img src="~/Content/1959672_10152842822253504_20122441_n.jpg" class="img-circle" width="250px" />
</div>
<h4>
    My name is Sami Beaston.
    I am currently a Computer Science student at the University of Chattanooga at Tennessee.
    I have been designing websites since the age of 11, but just recently began web design professionally.
    I am currently an intern at Tennessee Valley Authority where I handle support and development.
    BeastOnWeb is a project I started for people needing simple websites developed and requested my help.
</h4>
<br />
<div class="col-md-4 col-md-offset-4 col-xs-12">
    <div class="panel panel-primary" style="text-align:center">
        <div class="panel-heading">
            <h2 class="panel-title">
                Contact
            </h2>
        </div>
        <div class="panel-body"><h3>Phone:</h3>
            423.430.9645
            <br />
            <h3>Email:</h3>
            <a href="mailto:support@beastonweb.com">support@beastonweb.com</a>
        </div>
    </div>
</div>