@{
    ViewBag.Title = "Portfolio";
    Layout = "~/Views/_Layout.cshtml";
}

<h1>Portfolio</h1>

<h3>Here are some of my recent works. If you would like one of your own or a price quote please </h3>
<a href="/Home/Contact" class="btn btn-default">Contact Us Here</a>
<br />

<h2><a href="http://chattanoogaoutdoorsshow.com" target="_blank">Chattanooga Outdoors Show</a></h2>
<img src="~/Content/cos.png" class="img-responsive" align="left"/>
Technologies Used:<br />
C# MVC<br />
Bootstrap CSS<br />
Modified Bootswatch Yeti theme