@{
    ViewBag.Title = "Portfolio";
    Layout = "~/Views/_Layout.cshtml";
}

<h1>Portfolio</h1>

<h3>Here are some of my recent works. If you would like one of your own or a price quote please e-mail:</h3>
<a href="mailto:support@beastonweb.com" class="btn btn-default">support@beastonweb.com</a>
<br />

<div class="col-xs-6">
    <a href="http://chattanoogaoutdoorsshow.com" target="_blank"><h2>Chattanooga Outdoors Show</h2>
    <img src="~/Content/cos.png" class="img-thumbnail" align="left" /></a>
    Technologies Used:<br />
    C# MVC<br />
    HTML5/CSS3<br />
    Modified Bootswatch Yeti theme
</div>

<div class="col-xs-6">
    <a href="http://parkparrot.com" target="_blank"><h2>ParkParrot</h2>
    <img src="~/Content/parkparrot.png" class="img-thumbnail" align="left" /></a>
    Technologies Used:<br />
    WordPress Aire Theme<br />
    Bootstrap CSS<br />
</div>
