<html lang="en">
<head>
    <meta charset="UTF-8" http-equiv="X-UA-Compatible" content="IE=edge"> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BeastOnWeb</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery-1.9.0.min.js"></script>
</head>
<body>
    <div class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/Home/Index">BeastOnWeb</a>
            </div>
            <div class="navbar-collapse collapse navbar-responsive-collapse">
                <ul class="nav navbar-nav">
                    <li><a href="/Home/About">Resume</a></li>
                    <li><a href="/Home/Portfolio">Portfolio</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="https://plus.google.com/106450891718995084200/about" target="_blank">Google+</a></li>
                    <li><a href="https://github.com/samidabeast" target="_blank">GitHub</a></li>
                    <li><a href="https://www.linkedin.com/in/beastonweb" target="_blank">LinkedIn</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container">
        <main>
            @RenderBody()
        </main>
    </div>
    <footer>&copy; @DateTime.Now.Year - BeastOnWeb Development </footer>

    <script src="~/Scripts/angular.min.js"></script>
    <script src="~/Scripts/app.js"></script>
</body>
</html>